#front-hero {
    
	.marketing {
		@include grid-row();
	}

	@media #{$small-up} {
		background: url("../images/wood-coffee-iphone-notebook.png"); //adding background image to banner
		position: relative;
	}

	@media #{$medium-up} {
		height: 400px;
		margin: - rem-calc(32) 0 0;
	}

//top banner image section
    .tagline {
        
        @media #{$medium-up} {
            padding-top: 40px;
        }
            
        h1, h4 {
                text-align: center;
            }
        
        .button { 
            background-color: $topbar-bg-color; 
//             $button-bg-hover: scale-color($button-bg-color, $lightness: $button-function-factor);
// $button-border-color: $button-bg-hover;
        }
        
        
    }

		h1 { font-weight: 500; }

		h1 a, h4 { color: #fff; }

		.download { margin-top: rem-calc(20); }

	}

.services {
    background: $topbar-bg-color;
    
    h2 {
        text-align: center;
        padding-bottom: 25px;
        padding-top: 25px;
        color: $white;
        font-weight: bold;
    }
    h4 {
        color: $white;
        font-weight: bold;
    }
    p {
        color: $white;
    }
}
